<p>
  <input type="checkbox" id="options-enableFollow" <%if (enableFollow) {%> checked <% } %>></input>
  <label for="options-enableFollow" data-l10n-id="pad.settings.ep_author_follow.enableFollow">Enable Following</label>
</p>
<p>
  <input type="checkbox" id="options-followAll" <%if (followAll) {%> checked <% } %>></input>
  <label for="options-followAll" data-l10n-id="pad.settings.ep_author_follow.followAll">Follow All Changes</label>
</p>
